<div *ngFor="let event of events">
  <label *ngIf="event.display==true" class="image-upload-container btn btn-bwn" [ngStyle]="{'visibility': selected ? 'hidden' : 'visible' }">
    <span><img src="assets/images/image-down.png" alt=""></span>
    <input
      type="file"
      class="form-control"
      [(ngModel)]="event.image"
      accept="image/*"
      (change)="processFile(imageInput)"
      #imageInput
    />
  </label>
  <div *ngIf="selectedFile" class="img-preview-container">
    <div class="img-preview"
         [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
    </div>
  </div>
</div>
