<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="demo-position">
    <th class="month-field" mat-header-cell *matHeaderCellDef>
      <div class="month-box">
        <img src="favicon.ico" alt="season">
        <mat-form-field class="form-field">
          <mat-label>Select month:</mat-label>
          <mat-select disableRipple [(ngModel)]="defaultMonth" (selectionChange)="selectMonth($event)"><!--(change)="selectMonth($event)"-->
            <mat-option value="January">January</mat-option>
            <mat-option value="February">February</mat-option>
            <mat-option value="April">April</mat-option>
            <mat-option value="May">May</mat-option>
            <mat-option value="June">June</mat-option>
            <mat-option value="July">July</mat-option>
            <mat-option value="August">August</mat-option>
            <mat-option value="September">September</mat-option>
            <mat-option value="October">October</mat-option>
            <mat-option value="November">November</mat-option>
            <mat-option value="December">December</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!--
  <ng-container matColumnDef="demo-name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>-->

  <ng-container class="day-block" matColumnDef="demo-mon" >
    <th  mat-header-cell *matHeaderCellDef>
      <button (click)="selectPreWeek(monday)">←</button>
      <p [class]="getColor(1350)">1350</p>
      <button class="calcBtn" >{{monday | date: 'd ccc' }}</button>
    </th>
    <td mat-cell *matCellDef="let element" [id]="element.id">
      <span *ngIf="element.data&&day==monday_date">{{element.data.t}}</span>
    </td>
  </ng-container>

  <ng-container class="day-block" matColumnDef="demo-tue">
    <th mat-header-cell *matHeaderCellDef>
      <br>
      <p [class]="getColor(1515)">1515</p>
      <button class = "calcBtn" >{{tuesday | date: 'd ccc' }}</button>
    </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container class="day-block" matColumnDef="demo-wed">
    <th mat-header-cell *matHeaderCellDef>
      <br>
      <p [class]="getColor(980)">980</p>
      <button class = "calcBtn" >{{wednesday | date: 'd ccc' }}</button>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="data-cell" *ngIf="element.data&&day==wednesday_date" [ngStyle]="{'background-color':'cornflowerblue'}">{{element.data.t}}. Kcal: {{element.data.k}} Fats: {{element.data.f}} Proteins: {{element.data.p}} Carbohydrates: {{element.data.c}}</div>
    </td>
  </ng-container>

  <!--Current date-->
  <ng-container class="day-block" matColumnDef="demo-thu">
    <th mat-header-cell *matHeaderCellDef>
      <br>
      <p [class]="getColor(1350)">1350</p>
      <button class = "calcBtn" >{{thursday | date: 'd ccc' }}</button>
    </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container class="day-block" matColumnDef="demo-fri">
    <th mat-header-cell *matHeaderCellDef>
      <br>
      <p [class]="getColor(1515)">1515</p>
      <button class ="calcBtn" >{{friday | date: 'd ccc' }}</button>
    </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container class="day-block" matColumnDef="demo-sat">
    <th mat-header-cell *matHeaderCellDef>
      <br>
      <p [class]="getColor(1350)">1350</p>
      <button class = "calcBtn" >{{saturday | date: 'd ccc' }}</button>
    </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container class="day-block" matColumnDef="demo-sun">
    <th mat-header-cell *matHeaderCellDef>
      <button (click)="selectNextWeek(monday)">→</button>
      <p [class]="getColor(980)">980</p>
      <button class = "calcBtn" >{{sunday | date: 'd ccc' }}</button>
    </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="fixed_box">
  <div class="button-container">
    <button mat-fab color="primary" [routerLink]="['/meal']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

