*{
  font-size: 16px;
}
h3 {
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 12px;
}
hr{
 margin: 10px 0 0;
}
pre {
  background-color: #f5f5f5;
  padding: 15px;
}
::ng-deep body{
  overflow-x: hidden;
}
.title_own_class{
  width: 60px;
  position: absolute;
  font-size: 12px;
}
.add_own_button{
  position: fixed;
  bottom: 20px;
  left: auto;
  right: 20px;
  width: 40px;
  border-radius: 50px;
  z-index: 1;
}
/*::ng-deep .modal{
  overflow: hidden;
}*/
::ng-deep .modal-dialog{
  margin: 0;
}
::ng-deep .modal-content{
  height: auto;
  border-radius: 0;
  border: none;
}
table{
  font-size: 10px;
}
.modal-header{
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.close_btn{
  border: none;
  background-color: transparent;
  align-self: flex-start;
}




