<div class="row">
  <button class="btn btn-primary radius_btn" (click)="signOut()">
    <img src="assets/images/google.png" alt="google_img" width="20px">
    Sing out from Google</button>
  <div class="col-md-12 mt-2">
    <div>
      {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
    </div>
    <div class="btn-group m-1">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
        [ngStyle]="{'display': view === CalendarView.Month ?  'none' :'block'}"
      >
        Day
      </div>
      <div
        class="btn btn-outline-primary"
        (click)="setView(CalendarView.Week)"
        [ngStyle]="{'display': view === CalendarView.Day ? 'block' : 'none','border-bottom-right-radius': '5px','border-top-right-radius': '5px'}"

        [class.active]="view === CalendarView.Week"
      >
        Back
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [ngStyle]="{'borderBottomRightRadius': view === CalendarView.Month ? 0 : '5px','borderTopRightRadius': view === CalendarView.Month ? 0 : '5px','display': view === CalendarView.Day ?  'none' :'block','borderBottomLeftRadius': view === CalendarView.Month ? '5px' : 0,'borderTopLeftRadius': view === CalendarView.Month ? '5px' : 0}"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-outline-primary"
        (click)="setView(CalendarView.Week)"
        [ngStyle]="{'display': view === CalendarView.Month ? 'block' : 'none'}"
        [class.active]="view === CalendarView.Week"
      >
        OK
      </div>
    </div>
    <div class="btn-group">
      <div
        class="btn"
        [ngStyle]="{'color': view === CalendarView.Month ? 'blue' : 'black'}"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn"
        [ngStyle]="{'color': view === CalendarView.Month ? 'blue' : 'black'}"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn"
        [ngStyle]="{'color': view === CalendarView.Month ? 'blue' : 'black'}"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-12 ps-3">
      <div *ngIf="this.calculatorKcal()">{{currentKcal}}</div>
  </div>
</div>
<div [ngSwitch]="view" class="table_own_class">
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="rs.refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  ></mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="rs.refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  ></mwl-calendar-day-view>
</div>
<button class="btn btn-primary add_own_button" (click)="addMeal($event)">+</button>

<ng-template #modalContent let-close="close" >
  <div class="modal-header">
    <button type="button" class="close close_btn " (click)="close()">
      <span aria-hidden="true">Back</span>
    </button>
    <h2 class="modal-title">{{ modalData.event.title }}</h2>
  </div>
  <div class="modal-body">
    <div>
      Time (gm)
      <pre>{{ modalData.event.start | date:'h:mm a'}}</pre>
    </div>
    <div>
      Kcal (gm)
      <pre>{{ modalData.event.kcal}}</pre>
    </div>
    <div>
      Fats (gm)
      <pre>{{ modalData.event.fats}}</pre>
    </div>
    <div>
      Proteins
      <pre>{{ modalData.event.proteins}}</pre>
    </div>
    <div>
      Carbohydrates (gm)
      <pre>{{ modalData.event.carbohydrates}}</pre>
    </div>
    <div>
      <pre>{{ modalData.event.image | json}}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>

<ng-template #modalAddMeal let-close="close">
  <div class="modal-header">
    <button type="button" class="close close_btn" (click)="close();cancelEvent()">
      <span aria-hidden="true">Cancel</span>
    </button>
    <h1 class="modal-title">New meal</h1>
  </div>
  <div class="modal-body">
    <div class="table-responsive" >
      <table class="table" *ngFor="let event of events; let i = index" >
        <thead >
        </thead>
        <tbody *ngIf="event.display==true">
        <tr >
          <td>
            <mat-label>Title</mat-label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="rs.refresh.next()"
            />
          </td>
        </tr>
          <tr>
            <td>
              <mat-label>Time</mat-label>
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.start"
                (ngModelChange)="rs.refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
          </tr>
        <tr>
          <td>
            <mat-label>Kcal</mat-label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.kcal"
              (keyup)="rs.refresh.next()"
            />
          </td>
        </tr>
        <tr>
          <td>
            <mat-label>Fats(gm)</mat-label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.fats"
              (keyup)="rs.refresh.next()"
            />
          </td>
        </tr>
        <tr>
          <td>
            <mat-label>Proteins(gm)</mat-label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.proteins"
              (keyup)="rs.refresh.next()"
            />
          </td>
        </tr>
        <tr>
          <td>
            <mat-label>Carbohydrates(gm)</mat-label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.carbohydrates"
              (keyup)="rs.refresh.next()"
            />
          </td>
        </tr>
        <tr>
          <td>
            <app-image-upload [events]="events"></app-image-upload>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-danger me-2" (click)="deleteEvent(event)">Delete</button>
            <button type="button" class="btn btn-primary" (click)="close();addMealInfo(event)">
              Add new
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix"></div>
  </div>
</ng-template>
