<div class="row">
  <button class="btn btn-outline-info radius_btn" routerLink="/settings">
    Personal settings</button>
  <div class="col-md-12 mt-2">
    <div>
      {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
    </div>
    <div class="btn-group m-1">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
        [ngStyle]="{'display': view === CalendarView.Month ?  'none' :'block'}"
      >
        Day
      </div>
      <div
        class="btn btn-outline-primary"
        (click)="setView(CalendarView.Week)"
        [ngStyle]="{'display': view === CalendarView.Day ? 'block' : 'none','border-bottom-right-radius': '5px','border-top-right-radius': '5px'}"

        [class.active]="view === CalendarView.Week"
      >
        Back
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [ngStyle]="{'borderBottomRightRadius': view === CalendarView.Month ? 0 : '5px','borderTopRightRadius': view === CalendarView.Month ? 0 : '5px','display': view === CalendarView.Day ?  'none' :'block','borderBottomLeftRadius': view === CalendarView.Month ? '5px' : 0,'borderTopLeftRadius': view === CalendarView.Month ? '5px' : 0}"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-outline-primary"
        (click)="setView(CalendarView.Week)"
        [ngStyle]="{'display': view === CalendarView.Month ? 'block' : 'none'}"
        [class.active]="view === CalendarView.Week"
      >
        OK
      </div>
    </div>
    <div class="btn-group">
      <div
        class="btn"
        [ngStyle]="{'color': view === CalendarView.Month ? 'blue' : 'black'}"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn"
        [ngStyle]="{'color': view === CalendarView.Month ? 'blue' : 'black'}"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn"
        [ngStyle]="{'color': view === CalendarView.Month ? 'blue' : 'black'}"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-12 ps-3">
    <div class="calculator_for_day">
      <app-calculator [viewDate]='viewDate' [events]='events'></app-calculator>
    </div>
  </div>
</div>
<div [ngSwitch]="view" class="table_own_class">
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="rs.refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  ></mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="rs.refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
  ></mwl-calendar-day-view>
</div>
<button class="btn btn-primary add_own_button" (click)="addMeal($event)">+</button>

<ng-template #modalContent let-close="close" >
  <div class="modal-header">
    <button type="button" class="close close_btn " (click)="close()">
      <span aria-hidden="true">Back</span>
    </button>
    <h2 class="modal-title">{{ modalData.event.title }}</h2>
  </div>
  <div class="modal-body">
    <div>
      Time (gm)
      <p>{{ modalData.event.start | date:'h:mm a'}}</p>
    </div>
    <div>
      Kcal (gm)
      <p>{{ modalData.event.kcal}}</p>
    </div>
    <div>
      Fats (gm)
      <p>{{ modalData.event.fats}}</p>
    </div>
    <div>
      Proteins
      <p>{{ modalData.event.proteins}}</p>
    </div>
    <div>
      Carbohydrates (gm)
      <p>{{ modalData.event.carbohydrates}}</p>
    </div>
    <div class="img-preview"
         [ngStyle]="{'background-image': 'url('+ modalData.event.image.src + ')'}"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger me-2" (click)="deleteEvent(modalData.event); close()">Delete</button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>

<ng-template #modalAddMeal let-close="close">
  <div class="modal-header">
    <button type="button" class="close close_btn" (click)="close();cancelEvent()">
      <span aria-hidden="true">Cancel</span>
    </button>
    <h1 class="modal-title">New meal</h1>
  </div>
  <div class="modal-body">
    <div class="table-responsive" >
      <form [formGroup]="form" class="table" *ngFor="let event of events" (ngSubmit)="close();addMealInfo(event)" >
        <div *ngIf="event.display==true">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="New meal"
              (keyup)="rs.refresh.next()"
              formControlName="title"
            />
            <div *ngIf="form.get('title')!.invalid"
               class="validation">
              <small *ngIf="form.get('title')!.errors?.required">
                Поле title не может быть пустым
              </small>
              <small *ngIf="form.get('title')!.errors?.minlength">
                Слишком короткий title
              </small>
            </div>
          <div>
            <label>Time</label>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              (ngModelChange)="rs.refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
              formControlName="start"
            />
          </div>
          <div>
            <label>Kcal</label>
            <input
              class="form-control"
              type="text"
              (keyup)="rs.refresh.next()"
              formControlName="kcal"
            />
            <div *ngIf="form.get('kcal')!.invalid"
                 class="validation">
              <small *ngIf="form.get('kcal')!.errors?.required">
                Поле title не может быть пустым
              </small>
            </div>
          </div>

          <div>
            <label>Fats(gm)</label>
            <input
              class="form-control"
              type="text"
              (keyup)="rs.refresh.next()"
              formControlName="fats"
            />
          </div>

          <div>
            <label>Proteins(gm)</label>
            <input
              class="form-control"
              type="text"
              (keyup)="rs.refresh.next()"
              formControlName="proteins"
            />
          </div>

          <div>
            <label>Carbohydrates(gm)</label>
            <input
              class="form-control"
              type="text"
              (keyup)="rs.refresh.next()"
              formControlName="carbohydrates"
            />
          </div>
          <app-image-upload (onAdd)="updateImage($event)" [events]="events"></app-image-upload>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add new</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix"></div>
  </div>
</ng-template>
