<div class="text-center col-12 mt-5">
  <h1 class="mt-5">Calorie Calendar</h1>
  <p class="mt-5">Your shape assistant</p>
  <div class="mt-5"><img src="../../../assets/images/logo.png" alt="logo"></div>
  <button class="btn mt-5 sing_in_btn"><img src="../../../assets/images/google.png">Sing in with Google</button>
</div>


<!--<form>
  <mat-form-field class="meal-full-width">
    <mat-label>Title</mat-label>
    <input matInput value="Dinner shit" id="title" name="title">
  </mat-form-field>
  <table class="meal-full-width" >

    <tr>
      <td>
        <mat-form-field class="meal-short-width">
          <mat-label>Kcal</mat-label>
          <input matInput id="kcal" name="kcal">
      </mat-form-field>
      </td>
    </tr>
  </table>
</form>-->
