<div class="button-row">
  <button mat-button [routerLink]="['/']">Cancel</button>
</div>
<div class="meal">
  <h2>New meal</h2>


  <form #data class="meal-form">
    <mat-form-field class="meal-full-width">
      <mat-label>Title</mat-label>
      <input matInput value="Dinner shit" id="title" name="title" [(ngModel)]="title">
    </mat-form-field>
    <table class="meal-full-width" >

      <tr>
        <td><mat-form-field class="meal-short-width">
          <mat-label>Kcal</mat-label>
          <input matInput id="kcal" name="kcal" [(ngModel)]="kcal">
        </mat-form-field></td>
        <td><mat-form-field class="meal-short-width">
          <mat-label>Time</mat-label>
          <input matInput id="time" name="time" [(ngModel)]="time">
        </mat-form-field></td>
      </tr>

    </table>
    <p>
      <mat-form-field class="meal-full-width">
        <mat-label>Fats (gm)</mat-label>
        <textarea matInput placeholder="55" id="fats" name="fats" [(ngModel)]="fats">55</textarea>
      </mat-form-field>
      <mat-form-field class="meal-full-width">
        <mat-label>Proteins (gm)</mat-label>
        <textarea matInput placeholder="55" id="proteins" name="proteins" [(ngModel)]="proteins">55</textarea>
      </mat-form-field>
      <mat-form-field class="meal-full-width">
        <mat-label>Carbohydrates (gm)</mat-label>
        <textarea matInput placeholder="55" id="carbohydrates" name="carbohydrates" [(ngModel)]="carbohydrates">55</textarea>
      </mat-form-field>
    </p>
    <div class="meal-image">
      <app-image-upload></app-image-upload>
    </div>
  </form>
  <div class="meal-add-button">
    <button mat-raised-button color="primary" (click)="clickAdd(data)" >Add meal</button>
  </div>
</div>
<div *ngIf="html">
  <app-added-meal [title]="title" [time]="time" [kcal]="kcal" [fats]="fats" [proteins]="proteins" [carbohydrates]="carbohydrates"></app-added-meal>
</div>
