<div class="button-row">
  <button mat-button [routerLink]="['/']">Cancel</button>
</div>
<div class="meal">
  <h2>New meal</h2>
  <form class="meal-form">
    <mat-form-field class="meal-full-width">
      <mat-label>Title</mat-label>
      <input matInput value="Dinner shit">
    </mat-form-field>
    <table class="meal-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="meal-short-width">
        <mat-label>Kcal</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="meal-short-width">
        <mat-label>Time</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
    <p>
      <mat-form-field class="meal-full-width">
        <mat-label>Fats (gm)</mat-label>
        <textarea matInput placeholder="55">55</textarea>
      </mat-form-field>
      <mat-form-field class="meal-full-width">
        <mat-label>Proteins (gm)</mat-label>
        <textarea matInput placeholder="55">55</textarea>
      </mat-form-field>
      <mat-form-field class="meal-full-width">
        <mat-label>Carbohydrates (gm)</mat-label>
        <textarea matInput placeholder="55">55</textarea>
      </mat-form-field>
    </p>
    <div class="meal-image">
      <app-image-upload></app-image-upload>
    </div>
    <div class="meal-add-button">
      <button mat-raised-button color="primary">Add meal</button>
    </div>
  </form>
</div>
