@import url('https://fonts.googleapis.com/css2?family=Risque&family=Roboto+Condensed:wght@300&display=swap');

a{
  text-decoration: none;
  color: black;
}
h1{
  color: cornflowerblue;
  font-family: 'Risque', cursive;
  font-size: 50px;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

.sing_in_btn{
  border-radius: 0;
  background-color: cornflowerblue;
  img{
    margin-right: 15px;
  }
}
